@font-face {
  font-family: "8bitoperator JVE";
  src: url("../Assets/Fonts/8bitoperator_jve.ttf") format("truetype");
}

body {
  background-color: black;
  color: white;
  font-family: "8bitoperator JVE", "Comic Sans MS", monospace;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  cursor: url('../Assets/Images/SOUL.png'),auto; 
}

.game-container {
  position: relative;
  aspect-ratio: 640 / 480; 
  
  width: 90vw;
  max-width: calc(80vh * (640 / 480));
  
  margin-bottom: 10vh; 
  
  container-type: inline-size; 
}

.arbolqlia {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  image-rendering: pixelated;
}

.dialog {
  position: absolute;
  background-image: url("../Assets/Images/box.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  
  width: 88%;      
  height: 28%;     
  
  bottom: -10%;      
  left: 6%;      
  
  box-sizing: border-box;
}

.dialog p {
  margin: 3cqw 5cqw;
  font-size: 4cqw;
  line-height: 5cqw;
  letter-spacing: 0.35cqw;
}

.tree > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tree .one {
  animation: figure-eight-soft 16s linear infinite;
}

.tree .two {
  animation: figure-eight-strong 16s linear infinite;
}

@keyframes figure-eight-soft {
  0% { transform: translate(0, 0); }
  12.5% { transform: translate(0.1%, 0.2%); }
  25% { transform: translate(0.2%, 0); }
  37.5% { transform: translate(0.1%, -0.2%); }
  50% { transform: translate(0, 0); }
  62.5% { transform: translate(-0.1%, 0.2%); }
  75% { transform: translate(-0.2%, 0); }
  87.5% { transform: translate(-0.1%, -0.2%); }
  100% { transform: translate(0, 0); }
}

@keyframes figure-eight-strong {
  0% { transform: translate(0, 0); }
  12.5% { transform: translate(0.2%, 0.1%); }
  25% { transform: translate(0, 0.2%); }
  37.5% { transform: translate(-0.2%, 0.1%); }
  50% { transform: translate(0, 0); }
  62.5% { transform: translate(0.2%, -0.1%); }
  75% { transform: translate(0, -0.2%); }
  87.5% { transform: translate(-0.2%, -0.1%); }
  100% { transform: translate(0, 0); }
}

.tree .three {
  transform-origin: 50% 40%;
  animation: falling-leaf-fluid 6s ease-in-out infinite;
}

@keyframes falling-leaf-fluid {
  0% { 
    transform: translate(0, 0) scale(0.03); 
    opacity: 0; 
  }
  15% { 
    transform: translate(4%, 2%) scale(0.03); 
    opacity: 1; 
  }
  45% { 
    transform: translate(14%, 6%) scale(0.03); 
  }
  75% { 
    transform: translate(22%, 14%) scale(0.03); 
    opacity: 1; 
  }
  100% { 
    transform: translate(28%, 20%) scale(0.03); 
    opacity: 0; 
  }
}